/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: var(--second-family);
	font-variation-settings: 'wght' var(--font-weight-main);
	background-color: var(--bg-color);
	color: var(--accent-color);
	background-image: var(--bg-image);
	background-size: cover;
}

.header {
	background-color: var(--bg-color);
	width: 100%;
	border: 2px solid var(--accent-color);
	margin: 100px 0;
}

.header > h1,
.header > h2 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 49px;
	text-transform: uppercase;
	color: var(--accent-color);
	margin: 120px 14px 0;
}

.header > h2 {
	margin: 20px 80px 25px;
	font-size: 14px;
}

.header > .theme-menu {
	margin: 25px 133px 22px 154px;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: start;
}

.theme-menu button {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--accent-color);
	border: none;
	background-color: transparent;
	padding: 0;
	transition: opacity 0.3s ease;
}

.theme-menu button:disabled {
	opacity: 0.6;
	position: relative;
	pointer-events: none;
}

.theme-menu button:disabled::before {
	content: '▶';
	position: absolute;
	left: -19px;
	animation: arrow 2s infinite ease-in-out;
	animation-timing-function: step-end;
}

.theme-menu button:hover {
	opacity: 0.6;
}

.theme-menu__item button:focus-visible {
	animation: focus ease 0.3s forwards;
	outline: none;
	transform-origin: 100% 50%;
}

.theme-menu__item button::after {
	display: block;
	content: '';
	border-bottom: solid 2px var(--accent-color);
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
	transform-origin: 100% 50%;
}

.theme-menu__item button:focus-visible::after {
	transform: scaleX(1);
	transform-origin: 0% 50%;
}

main {
	background-color: var(--bg-color);
}

.post {
	border: 2px solid var(--accent-color);
	margin-bottom: 50px;
}

.title {
	margin: 4px 10px 6px;
	font-family: var(--second-family);
	font-variation-settings: 'wght' var(--font-weight-heading);
	font-size: 18px;
	color: var(--accent-color);
}

.text {
	margin: 25px;
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.text > p {
	font-family: var(--second-family);
	font-variation-settings: 'wght' var(--font-weight-main);
	font-size: 18px;
	line-height: 117%;
	color: var(--accent-color);
}

.image {
	position: relative;
}

.image > p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--accent-color);
	mix-blend-mode: hard-light;
	opacity: 0.5;
	position: absolute;
	top: 25px;
	right: 13px;
	text-shadow: 0px 0px 10px#d3d3d3;
}

.image img {
	display: block;
	width: 100%;
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
}

.action-section {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 25px;
	margin-bottom: 25px;
	gap: 6px;
}

.card__icon-button,
.card__like-button {
	border: none;
	background-color: transparent;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.action-section .card__icon-button {
	position: relative;
}

.sparks {
	opacity: 0;
}

.action-section .card__icon-button:focus {
	outline: none;
}

.action-section .card__icon-button .like-icon .heart .core {
	fill: transparent;
	transition: fill 0.03s;
}

.action-section .card__icon-button:hover .like-icon .heart .core {
	fill: var(--core-color);
	transition-duration: 0.3s;
}

.action-section .card__icon-button .like-icon .heart .main-body {
	fill: transparent;
	transition: fill 0.3s;
}

.action-section .card__icon-button:hover .like-icon .heart .main-body {
	fill: var(--core-color);
	transition-duration: 0.3s;
	transition-delay: 0.05s;
}

.action-section .card__icon-button .like-icon .heart .core {
	fill: transparent;
	transition: fill 0.03s;
}

.action-section .card__icon-button:active .like-icon .heart .core {
	fill: var(--sparks-color);
	transition-duration: 0.3s;
}

.action-section .card__icon-button .like-icon .heart .main-body {
	fill: transparent;
	transition: fill 0.3s;
}

.action-section .card__icon-button:active .like-icon .heart .main-body {
	fill: var(--sparks-color);
	transition-duration: 0.3s;
	transition-delay: 0.05s;
}

.action-section .card__icon-button .like-icon .heart .contour {
	transition: fill 0.3s;
}

.action-section .card__icon-button .is-liked .heart .contour {
	fill: var(--sparks-color);
	transition-duration: 0.3s;
	transition-delay: 0.06s;
}

.action-section .card__icon-button .is-liked .heart .core {
	fill: var(--sparks-color);
	transition-duration: 0.3s;
}

.action-section .card__icon-button .is-liked .heart .main-body {
	fill: var(--sparks-color);
	transition-duration: 0.3s;
	transition-delay: 0.05s;
}

.action-section .card__icon-button .is-liked .heart {
	animation: scale 0.3s 0.1s ease-in;
}

.action-section .card__icon-button .is-liked .sparks {
	animation: sparks 0.3s 0.3s ease-in;
}

.action-section .card__icon-button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	border: solid 2px var(--accent-color);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.action-section .card__icon-button:focus-visible::after {
	opacity: 1;
}

.footer .card__icon-button span,
.footer .card__icon-button svg,
.card__like-button span {
	position: relative;
	color: white;
	mix-blend-mode: difference;
}

.footer .card__icon-button::before,
.card__like-button::before {
	content: '';
	top: 0;
	left: 0;
	transform: translateX(-100%);
	background-color: black;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
	position: absolute;
}

.footer .card__icon-button:hover::before,
.card__like-button:hover::before {
	transform: translateX(0);
}

.card__like-button {
	border: 2px solid var(--accent-color);
	padding: 6.25px 0;
	width: 130px;
	height: 38px;
}

.card__icon-button:focus {
	outline: none;
}

.card__like-button:focus,
.card__icon-button:last-child:focus {
	box-shadow: 2px 2px var(--accent-color);
	outline: none;
	transition: box-shadow 0.3s ease-in-out;
}

.button__text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 90%;
	color: var(--accent-color);
}

.footer {
	margin: 0 32.5px 102px;
	background-color: var(--bg-color);
}

.footer .card__icon-button {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	width: 100%;
	border: 2px solid var(--accent-color);
	height: 100%;
}

.footer .card__icon-button > svg {
	width: 28px;
	height: 28px;
	margin-top: 15px;
	margin-bottom: 8px;
}

.footer .button__text {
	margin-bottom: 15px;
}

dialog[open] {
	width: 341px;
	height: 195px;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

dialog[open] .dialog-display {
	display: flex;
	gap: 20px;
}

dialog[open] .dialog-display svg {
	fill: black;
}

dialog[open]::backdrop {
	background-color: red;
}
