/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--font-family: 'Press Start 2P', sans-serif;
	--second-family: 'Inter', sans-serif;
	--font-weight-main: 400;
	--font-weight-heading: 700;
	--bg-color: #fff;
	--accent-color: #000;
}
